body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    color: #013293;
}

.container {
    text-align: center;
}
.container a {
    display: block;
    margin: 10px 0;
}