body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    text-align: center;
}

.container a {
    margin: 10px;
}

a:link {
    text-decoration: none; 
}
